module.exports = function(RED) {

    function Logstash{{Type}}{{Name}}Node(config) {
        RED.nodes.createNode(this, config);
        var node = this;

        this.on("close", function() {
        });
    }
    RED.nodes.registerType("ls-{{shorttype}}-{{name}}", Logstash{{Type}}{{Name}}Node);
};
